.navUp {
    text-align: end;
    width: 100%;
    border-top: 3PX solid rgb(34,136,205);
    background-color: rgb(240,240,237);
  }
  .navUp a {
    text-decoration: none;
    color: rgb(34,136,205);
    padding: 10px;
  }
  .navUpLinks {
    width: 100%;
    padding: 10px;
    font-family: "Roboto", sans-serif;
    font-weight: 550;
    font-size: small;
  }
  #welcomeatspareshub{
    color: grey;
  }
  .input-field {
    /* margin-top: 25px; */
    width: 80%;
    border-radius: 15px;
    height: 30px;
    font-size: small;
    /* border: none; */
    border-right:1px solid black;
    margin-top: 20px;
  }
  #search-icon {
    font-size: 25px;
    color: rgb(128, 140, 147);
    border-radius: 20px;
    padding: 2px;
    margin-top: 25px;
  }
  #search-icon:hover {
    cursor: pointer;
  }
  .navMidContainer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
    /* justify-content: center; */
  }
  .searchBar{
      border: 1px solid black;
  }
  .spaceBetweenNav {
    width: 12%;
  }
  .navLeft  img {
    margin-top: 15px;
    width: 220px;
  }
  .navLeft  img:hover {
    cursor: pointer;
  }
  .navMid{
      width: 30%;
  }
  .navRight {
    width: 25%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .navRight li{
    list-style: none;
    font-family: "Roboto", sans-serif;
    color: rgb(128, 140, 147);
  }
  .navRight a {
      text-decoration: none;
      font-family: "Roboto", sans-serif;
      color: rgb(34,136,205);
  }

  /* dropdowncontent */
  .navBottom{
    background-color: rgb(240,240,237);
  }
  .navBottom_links {
    padding: 15px;
  }
  .navBottom_links li {
    display: inline;
    margin: 0px 30px 20px 0px;
    font-size: 12px;
    font-weight: 600;
    font-family: "Roboto", sans-serif;

  }
  .navBottom_links a {
    text-decoration: none;
    color: rgb(34,136,205);
  }
  .navBottom_links a:hover {
   
    transform: scaleX(1);
    transition: 250ms ease-in-out;
  }
  /* .navBottom_links {
    display: flex;
    justify-content: center;
  } */
  .bannerImages > img {
    width: 100%;
  }
  
  /* dropdown */
  
  .dropdown {
    position: relative;
    display: inline-block;
    /* width: 100%; */
    list-style: none;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    /* width: 100%; */
    background-color: rgb(34,136,205);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 12;
    margin-left: 100px;
  }
  .shopCategorie {
    margin-left: -150px;
  }
  
  .brands {
    margin-left: -300px;
  }
  .dropdown-content a {
    width: 100%;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    /* font-family: "Roboto", sans-serif; */
  }
  
  .dropdown-content a:hover {
    background-color: #f1f1f1;
    color: rgb(34,136,205);
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    /* background-color: #3e8e41; */
    border-bottom: solid 3px black;
    transform: scaleX(1);
    transition: 250ms ease-in-out;
  }
  
  .products-menu-dropDown-links li {
    /* display: inline; */
    margin: 0px 30px 20px 0px;
    font-size: 14px;
    font-weight: 600;
    width: 100px;
  }
  .products-menu-dropDown-links a {
    text-decoration: none;
    color: black;
  }
  .products-menu-dropDown-links a:hover {
    border-bottom: solid 3px black;
    transform: scaleX(1);
    transition: 250ms ease-in-out;
  }
  .products-menu-dropDown-links {
    display: flex;
    justify-content: center;
  }
  .brandsImages > ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
  .brandsImages img {
    margin: 30px;
  }
  .drop-down-link-container-of-products {
    display: flex;
    flex-wrap: wrap;
  }
  .drop-down-link-container-of-products-links {
    margin: 0px 20px 20px 20px;
  }
  .drop-down-link-container-of-products-links p {
    margin: 20px;
    font-size: 13px;
    cursor: pointer;
  }
  .drop-down-link-container-of-products-links p:hover {
    border-bottom: solid 3px white;
    transform: scaleX(1);
    transition: 250ms ease-in-out;
  }
  .footer{
    width: 100%;
    background-color: rgb(18,18,20);
    margin-top:120px ;
    
}
.infoafterNav{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 90%;
  text-align: center;
  font-size:small;
  margin: auto;
  font-family: "Roboto", sans-serif;
  color: rgb(128, 140, 147);
}
.infoafterNav img{
margin-top: 10px;
}

#imageSlider{
  width: 90%;
  margin: auto;
}
#imageSlider img{
  width: 100%;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 25px;
}
.browseByBrands{
width: 80%;
margin: auto;
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
margin-bottom: 50px;
}
.browseByBrandsImg img{
border-radius: 75px;
height: 100px;
width: 100px;
margin-top: 15px;
transition: transform .2s;
}
.browseByBrandsImg img:hover{
transform: scale(1.3); 
}
.bestCarCarebanner{
width: 80%;
margin: auto;
display: grid;
grid-template-columns: 1fr 1fr 1fr;
}
.bestCarCarebanner img{
height: 120px;
width: 300px;
margin-top: 10px;
}
.indexPageh2{
color: rgb(128, 140, 147);
font-family: "Roboto", sans-serif;
font-size: medium;
margin: 15px;
}
.testimonials{
width: 95%;
margin: auto;
display: flex;
flex-wrap: wrap;
height: 250px;
background-color: rgb(228, 229, 230);
}
.testimonialCards{
justify-content: center;
display: flex;
flex-wrap: wrap;
font-family: "Roboto", sans-serif;
color: rgb(94, 96, 97);
margin: 4px;
margin-top: 50px;
}
.testimonialCards img{
margin: 15px;
}

.footerContainer{
    width:80%;
    margin: auto;
    background-color: rgb(18,18,20);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.footer li{
    list-style: none;
    color: white;
    font-family: "Roboto", sans-serif;
    margin: 10px;
    font-size: 12px;
}
.footer a {
    text-decoration: none;
    color: white;
}
.footerLinkDiv{
    list-style: none;
    color: white;
    font-family: "Roboto", sans-serif;
}
.subscribe{
    color: white;
    background-color:rgb(34,136,205) ;
    width: 74%;
    height: 30px;
}
.footerheading{
    color: rgb(34,136,205);
    font-family: "Roboto", sans-serif;
}
.footerparagraph{
    color: grey;
}
.copyRight{
    background-color: rgb(12,12,12);
    color: grey;
    text-align: center;
    padding: 5px;
}

/* singup page facebook google signup image */
/* singup and login css */
.signupPageHeading{
   font-family: "Roboto", sans-serif; 
   color: rgb(34,136,205);
   font-weight: 200;
}
#patect {
  background-color: transparent;
}

#container {
  width: 900px;
  height: 450px;
  background-color: whitesmoke;
  margin-left: 15%;
  border-radius: 10px;
  border-top: 4px solid rgb(34,136,205);
}

form>div {
  margin: 20px;
}

#inputfield input {
  font-size: 18px;
  padding: 10px 0;
  float: left;
  width: 60%;
  border: none;
  font-family: 'Aqleema-Regular';
  color: -internal-light-dark(black, white);
  cursor: text;
  font: 400 13.3333px Arial;
  margin-left: 60px;
  margin-top: 30px;
}

.fwb {
  float: right;
  margin-right: 100px;
  height: 40px;
  width: 40px;
  line-height: 35px;
  background-color: #adc1ca5e;
  ;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  font-size: 25px;
  cursor: pointer;
  margin-top: 30px;

}
.login{
 clear: both;
 font-size: 14px;
 margin-left: 16%;
 color: #8a8b8b;
 margin-top: 240px;
}
.login>a{
 font-weight: bold;
 font-size: 16px;
 color:rgb(34,136,205)  ;
}
.connectwith {
  width: 100%;
  text-align: center;
  color: #6d7c83;
  margin-top: 10px;
}

.social {
  margin-top: 30px;
  font-family: Aqleema-Medium;
  font-size: 20px;
  margin-left: 20px;
  color: #6c7a82;
  vertical-align: middle;
  line-height: 48px;
  height: 48px;
  box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
  border-radius: 2px;
  text-align: center;
  align-items: center;
  cursor: pointer;
  width: 200px;
}

.social>img {
  width: 20px;
  height: 20px;
}

#fcb {
  float: left;
  margin-left: 30px;
}

#gogl {
  float: right;
  margin-right: 30px;
}

.signup {
  font-family: Aqleema-Medium;
  font-size: 20px;
  color: #2c414c;
  text-align: center;
  margin-bottom: 0;
  padding-top: 5px;
}

.btn {
  float: right;
  background-color: #2c414c;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
  margin-right: 34%;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: red;
}

.fwb:hover {
  background-color: rgb(34,136,205) ;
}


/* productpage css */
.productHeading {
  text-align: center;
  font-size: 20px;
  letter-spacing: 4px;
  /* margin-bottom: -100px; */
}

#product_div {
  margin-top: 45px;
  /* overflow: hidden; */
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}
#gDiv {
  margin: 30px;
  position: relative;
}
/* #gDiv:hover {
  transform: scaleX(1.2);
} */

#gridImage {
  max-height: 100%;
  max-width: 100%;
  position: relative;
  margin: auto;
}

#addToCart {
  position: absolute !important;
  width: 100%;
  height: 35px;
  color: white;
  background-color: #2c414c;
  margin: -18% auto;
  z-index: 10;
  color: #fff;
  padding-top: 3px;
  display: none;
  letter-spacing: 1px;
}
#gDiv:hover #addToCart {
  display: block;
}

#floatAll {
  display: flex;
}
#opacity {
  color: #bfc6c9;
  font-size: 12px;
  line-height: 2;
}
#h333 {
  font-size: 18px;
  color: #2c414c;
  font-weight: bold;
}
#redColor {
  font-size: 12px;
  line-height: 2;
  color: #e40980;
  opacity: 0.9;
  /* overflow: hidden; */
}
#proName {
  height: 42px;
  color: #566770;
  font-size: 16px;
  text-align: left;
  letter-spacing: 0.5px;
  margin-top: 5px;
  padding-right: 10px;
  line-height: 21px;
  overflow: hidden;
}
/* filter or product page */
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* dropdownmenu */
.fildropdown {
  /* margin: 50px; */
  margin-right: 95px;
  text-align: center;
  border-left: 1px solid rgb(207, 203, 203);
  height: 50px;
  margin-top: 8px;
}

.fildddForRemoveLeftLine {
  border-left: none !important;
}
.filavBottom_links li {
  display: inline;
  margin: 0px 30px 20px 0px;
  font-size: 16px;
  font-weight: 600;
}
.filavBottom_links a {
  text-decoration: none;
  color: white!important;
  letter-spacing: 0.5px;
}

.filavBottom_links a:hover {
  border-bottom: solid 3px rgb(234, 75, 121);
  transform: scaleX(1);
  transition: 250ms ease-in-out;
}
.filavBottom_links {
  display: flex;
  justify-content: center;
}
.filavBottom {
  border: 1px solid rgb(209, 206, 206);
  background-color: rgb(34,136,205) ;
  width: 90%;
  margin: auto;
  /* border-radius: 15px; */
  height: 70px;
}
.filavBottom > ul {
  margin-left: 50px;
}
.filavBottom_links li {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  /* fon */
  /* font-family: "Josefin Sans", sans-serif; */
  /* display: inline; */
  /* margin:0px 30px 20px 0px; */
  /* font-size: 16px;
  font-weight: 600; */
}

.filavBottom_links a:hover {
  border-bottom: solid 3px rgb(34,136,205);
  transform: scaleX(1);
  transition: 250ms ease-in-out;
}
.filavBottom_links {
  display: flex;
  justify-content: center;
}
.fildropLink {
  margin-top: 10px;
  margin-left: 50px;
}
.fildropdown > li {
  margin-left: 55px;
  margin-top: 15px;
}

.fildropdown-content {
  display: none;
  position: absolute;
  /* width: 100%; */
  background-color:rgb(34,136,205);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  margin-top: 5px;
  z-index: 12;
}
/* .shopCategorie{
margin-left: -150px;
} */

.fildropdown-content a {
  width: 200px;
  height: 30px;
  color: black;
  /* padding: 12px 16px; */
  text-decoration: none;
  display: block;
  /* font-family: "Roboto", sans-serif; */
}

.fildropdown-content a:hover {
  cursor: pointer;
  color: rgb(34,136,205);
}

.fildropdown:hover .fildropdown-content {
  display: block;
}

.fildropdown:hover .dropbtn {
  /* background-color: #3e8e41; */
  border-bottom: solid 3px rgb(34,136,205);
  transform: scaleX(1);
  transition: 250ms ease-in-out;
}

.filproducts-menu-dropDown-links li {
  /* display: inline; */
  /* margin:0px 30px 20px 0px; */
  font-size: 15px;
  font-weight: 600;
  width: 200px;
}
.filproducts-menu-dropDown-links a {
  text-decoration: none;
  color: black;
}
.filproducts-menu-dropDown-links a:hover {
  border-bottom: solid 3px rgb(34,136,205);
  transform: scaleX(1);
  transition: 250ms ease-in-out;
}
.fildrop-down-link-container-of-products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
/* basket styling */
.fa-shopping-basket{
  font-size: 25px;
}

/* cart css */
.container {
  width: 76%;
  /* margin: auto; */
  text-align: left;
  letter-spacing: 0.5px;
  height: 400px;
}
.left {
  width: 50%;
  margin-left: -100px;
  /* min-width: 500px;
  margin-top: 150px; */
}

.right {
  top: 160px;
  width: 23%;
  min-width: 300px;
  right: 7%;
  position:absolute;
  overflow: hidden;
}

.left > h2 {
  font-size: 20px;
  margin-top: 20px;
  line-height: 1.1;
  margin-bottom: 10px;
  font-weight: 550;
}

.offerDetail {
  box-shadow: 0px 0px 3px #2b3031;
  margin: 5px 90px 15px 0px;
  padding-left: 20px !important;
  margin-right: 23%;
  font-size: 14px;
  color: #2c414c !important;
  font-weight: 400;
  padding: 10px;
  line-height: 20px;
}

.couponBar {
  box-shadow: 0px 0px 3px #2b3031;
  margin: 5px 90px 15px 0px;
  padding-left: 20px !important;
  margin-right: 23%;
  font-size: 14px;
  color: #2c414c !important;
  font-weight: 400;
  padding: 10px;
  line-height: 20px;
  background-color: #f9d3e8;
}

.couponBar {
  background-color: #f9d3e8;
  font-size: 14px;
  color: #2c414c;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
}
.couponBar .useCode {
  font-size: 14px;
  background-color: white;
  border: 2px dashed  rgb(34,136,205);
  text-align: center;
  width: 75%;
}
.couponBar .useCode > h3 {
  display: inline;
  font-size: 18px;
  color:  rgb(34,136,205);
}

.couponBarImage {
  width: 40px;
  margin-right: 20px;
}

.priceTag {
  margin: 0px 0px 0px -16px;
  float: left;
  color: rgb(34,136,205);
}

.redTC {
  color:  rgb(34,136,205);
}
.myCart {
  font-size: 20px;
  line-height: 1.1;
}

.myCartCount {
  margin-bottom: 15px;
}
.shopMore {
  font-size: 16px;
  color:  rgb(34,136,205);
  margin-left: 50%;
  cursor: pointer;
}

.safePayment {
  height: 60px;
  border: 1px solid #bfc6c9;
}

.safePayment > img {
  float: left;
  padding: 6px 30px;
}

.safePayment > h3 {
  font-size: 20px;
  color: #2c414c !important;
  margin-top: 9px;
}

.genuine {
  clear: left;
  opacity: 0.8;
  color: #6c7a82;
  font-size: 13px;
  margin: 0px;
}

.pincode {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 50px;
}
.pincode input {
  border: none;
  margin-top: 10px;
}

.pincode > h4 {
  float: right;
  color:  rgb(34,136,205);
  font-weight: 400;
  margin-left: 66%;
  margin-top: -7%;
  font-size: 14px;
  cursor: pointer;
}

.coupons {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 50px;
}
.coupons input {
  border: none;
  margin-top: 10px;
}

.coupons > h4 {
  float: right;
  color:  rgb(34,136,205);
  font-weight: 400;
  margin-left: 66%;
  margin-top: -7%;
  font-size: 14px;
  cursor: pointer;
}

.priceDetails > p {
  font-size: 14px;
  margin: 12px 0px;
}

.t_mrp,
.s_mrp,
.sub_mrp,
.shipping,
.coupon,
.o_total_mrp {
  float: left;
  font-size: 14px;
  color: #6c7a82;
}

.t_price,
.s_price,
.sub_price,
.shipping_price,
.apply_coupon,
.o_total_price {
  float: right;
  color: #6c7a82;
  font-size: 14px;
}

.save_price {
  float: right;
}

.total_mrp,
.savings_on_mrp,
.sub_total,
.shipping_charges,
.coupon_discount,
.order_total {
  height: 30px;
}

.apply_coupon {
  /* margin-top: 1%; */
  color:  rgb(34,136,205);
  font-weight: 400;
  font-size: 12px;
}

.s_price {
  color:  rgb(34,136,205);
}

hr {
  clear: both;
  opacity: 0.5;
}

.o_total_mrp,
.o_total_price {
  margin-top: 0%;
  font-size: 18px;
  color: #2c414c;
}

.you_save {
  height: 30px;
  font-size: 14px;
  color:  rgb(34,136,205);
}

.save {
  float: left;
  margin-right: 50%;
  color: #6c7a82;
}

.save_price {
  float: right;
}

.place_order_btn {
  width: 100%;
  height: 40px;
  margin-top: 10px;
  background-color:  rgb(34,136,205);
  color: white;
  font-size: 16px;
  font-weight: 550;
  border-radius: 3px;
  border: none;
}

.leftdiv {
  width: 55%;
  margin-top: 8%;
  float: left;
  height: 400px;
  /* border: 2px solid orange; */
}

.avail_para {
  height: 30px;
  box-shadow: 0 1px 3px 0px rgb(0 0 0 / 40%);
  width: 98%;
  padding-top: 10px;
  padding-left: 15px;
  margin-top: 0%;
}

.avail_para > span,
a {
  color:  rgb(34,136,205);
  text-decoration: none;
}

.avail_offer > h3 {
  margin-bottom: 1%;
}

.mycart {
  height: 30px;
}

.mycart > h3 {
  float: left;
  margin-top: 0%;
}

.mycart > a {
  float: right;
  text-decoration: none;
  color:  rgb(34,136,205);
  padding-right: 20px;
}

/* -------------------------------------------- */

#fDiv {
  width: 77%;
  height: 107px;
  /* float: left; */
  display: flex;
  padding: 10px;
  box-shadow: 0px 0px 3px #2b3031;
  margin: 10px 0px;
  font-size: 14px;
  color: #6c7a82;
}

#proName {
  flex-grow: 2;
}

#fImage {
  width: 70%;
  text-align: center;
}

#imgDiv {
  width: 20%;
  flex-grow: 1;
}
#floatAll {
  /* width: 50px; */
  /* display: inline-block; */
  flex-basis: 120px;
  flex-grow: 1;
}
#priceAndSymbol {
  float: right;
  color: #2c414c;
}

#h333 {
  display: inline;
  font-size: 18px;
  float: right;
  color: #2c414c;
}
#redColor {
  color:  rgb(34,136,205);
  display: inline;
  font-size: 13px;
  float: right;
}

#opacity {
  text-decoration: line-through;
  display: inline;
  font-size: 13px;
  color: #bfc6c9;
  float: right;
}

#couponAppColor {
  color:  rgb(34,136,205);
}

/* Remove button */
#proRemove {
  margin-top: 50px;
  margin-left: 110px;
  position: absolute;
  color:  rgb(34,136,205);
  font-size: 15px;
  cursor: pointer;
}

#addresscontainer {
  width: 70%;
  margin: 2% auto;
  height: 460px;
  /* border: 1px solid orange; */
  font-family: sans-serif;
}

.leftdiv {
  width: 60%;
  margin-top: 5%;
  border: 1px solid #dfdfdf;
  height: 350px;
  font-family: sans-serif;
  float: left;
}

.address {
  height: 200px;
  margin-left: 3%;
  width: 40%;
  line-height: 1.6;
  padding: 5px 20px;
  color: #566770;
  border: 1px solid #dfdfdf;
  letter-spacing: 1px;
  font-family: sans-serif;
}

.details {
  margin-top: 0%;
}

.deliver {
  background-color: rgb(34,136,205);
  padding: 10px 35px;
  color: white;
  border: none;
  cursor: pointer;
}

.edit {
  float: left;
  margin-left: 10%;
  font-size: 12px;
}

.delete {
  float: right;
  margin-right: 30%;
  font-size: 12px;
}

.font14 {
  font-size: 12px;
}

.font16 {
  font-size: 16px;
  font-weight: 500;
  color: #2c414c !important;
}

.select {
  color: #2c414c;
  height: 30px;
  padding-left: 15px;
  background-color: whitesmoke;
  margin-top: 0%;
  padding-top: 10px;
  font-size: 16px;
  font-weight: bold;
}

.addnew {
  color: rgb(34,136,205);
  margin: 5% 35%;
  font-size: 14px;
}

.dot {
  height: 12px;
  padding-left: 3px;
  padding-bottom: 3px;
  width: 12px;

  background-color: whitesmoke;
  border-radius: 50%;
  border: 2px solid rgb(34,136,205);
  display: inline-block;
}

.rightdiv {
  width: 26%;
  height: 500px;
  float: right;
  font-family: sans-serif;
  color: #566770;
  letter-spacing: 0.6px;
  margin-top: -1%;
  margin-right: 4%;
}

.needhelp {
  border: 1px solid #dfdfdf;
  text-align: center;
  font-family: sans-serif;
  font-size: 12px;
  letter-spacing: 1px;
}

.mail {
  float: left;
  margin-top: 1%;
  line-height: 1.6;
}

.change {
  float: right;
  margin-top: 7%;
  color: rgb(34,136,205);
}

.login {
  height: 50px;
  margin-top: 10px;
  font-size: 12px;
}

hr {
  clear: both;
}

.showitem,
.priceDetails {
  font-size: 12px;
}

.total_mrp,
.savings_on_mrp,
.sub_total,
.shipping_charges,
.coupon_discount,
.order_total {
  height: 25px;
  font-family: sans-serif;
  font-size: 12px;
  letter-spacing: 0.6px;
  /* border: 1px solid red; */
}

.t_mrp,
.s_mrp,
.sub_mrp,
.shipping,
.coupon,
.o_total_mrp {
  float: left;
}

.t_price,
.s_price,
.sub_price,
.shipping_price,
.apply_coupon,
.o_total_price {
  float: right;
  font-family: sans-serif;
  font-size: 12px;
  letter-spacing: 0.6px;
}

.you_save {
  height: 30px;
  /* border: 1px solid orange; */
  font-size: 12px;
  margin-top: 0%;
}

.save {
  float: left;
  margin-right: 35%;
}

.save_price {
  float: right;
}

.pink {
  color: rgb(34,136,205);
}

.o_total_mrp,
.o_total_price {
  font-size: 16px;
  margin-top: 1.5%;
}

.bold {
  font-weight: 550;
  color: #566770;
}

.step-progressbar {
  display: block;
  width: 60%;
  float: left;
  margin-top: 2%;
}

.addressul {
  display: flex;
  list-style: none;
  align-items: center;

  justify-content: space-between;
  counter-reset: step;
  margin: 0;
  padding: 0;
}

.addressli {
  display: inline-block;
  position: relative;
  width: 33%;
  height: 30px;
  text-align: center;
  margin: 0;
  font-family: sans-serif;
  letter-spacing: 1px;
  font-size: 12px;
}

.addressli:before {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  /* background-color: #e40980; */
  border: 2px solid rgb(34,136,205);
  line-height: 20px;
  text-align: center;
  content: counter(step);
  counter-increment: step;
  margin: 10px auto;
  position: relative;
  z-index: 2;
  font-size: 15px;
}

.addressli:last-child::before {
  background-color: none;
}

.addressli.active {
  font-weight: bold;
}

.addressli:after {
  content: "";
  width: 91%;
  height: 3px;
  background-color: rgb(34,136,205);
  position: absolute;
  top: 23px;
  left: -46%;
  z-index: 1;
}

.addressli:first-child:after {
  content: none;
}

.addressli.active + .addressli:after {
  background-color: rgb(34,136,205);
}

.addressli.active:before,
.addressli:first-child:before {
  background-color: rgb(34,136,205);
  color: white;
}

/* payment page css  */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');


.payment__container{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
}
.payment__container div{
    margin: 15px;
    
}
.paymentContainer {
    width: 60%;
    margin: auto;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}
.cardDetails {
    width: 30%;
    margin: auto;
}
.cardDetails select{
    width: 100%;
    margin: 10px;
    height: 30px;
}
.cardDetails input{
    width: 100%;
    margin: 10px;
    height: 30px;
}
.cardDetails button{
    width: 80%;
    margin-left: 25px;
    height: 30px;
    background-color: rgb(34,136,205);
    color: white;
}
.highlight{
    font-weight: 700;
    font-size: medium;
    
}
.paymentHeading{
    color: rgb(34,136,205) ;
}

/* thank youpage css  */

#thankyou-container {
  margin-top: 127px;
  width: 60%;
  margin: 8% auto 2%;
  margin-top: 0px;
  height: 400px;
  border: 1px solid #dfdfdf;
  font-family: sans-serif;
}
#tick-mark {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
}

#tick-mark::before {
  position: absolute;
  left: 0;
  top: 50%;
  height: 50%;
  width: 3px;
  background-color: #336699;
  content: "";
  transform: translateX(10px) rotate(-45deg);
  transform-origin: left bottom;
}

#tick-mark::after {
  position: absolute;
  left: 30;
  bottom: 0;
  height: 3px;
  width: 100%;
  background-color: #336699;
  content: "";
  transform: translateX(10px) rotate(-45deg);
  transform-origin: left bottom;
}
.dot {
  height: 60px;
  width: 60px;
  background-color: rgb(34,136,205);
  border-radius: 50%;
  display: inline-block;
  margin-top: 21px;
  text-align: center;
  margin-left: -30px;
  border: 5px solid white;
}
.symbol {
  font-size: 40px;
  color: #fff;
}
.para {
  float: right;
  margin-top: 23px;
  line-height: 1.5;
  margin-right: 45%;
  letter-spacing: 0.5px;
  font-size: 12px;
}
.bold {
  font-weight: bold;
  font-size: 14px;
}
.thankyou {
  background-color: rgb(34,136,205);
  color: #566770;
  height: 110px;
}
.communication {
  font-size: 12px;
  letter-spacing: 0.5px;
  color: #566770;
  margin: 3% 2%;
}
#order-summary-container {
  width: 75%;
  height: 200px;
  font-family: sans-serif;
  color: #566770;
  font-size: 12px;

  line-height: 2.5;
  letter-spacing: 0.8px;
}
.head {
  font-size: 14px;
  font-weight: 550;
}
.order-summary p {
  margin-left: 4%;
  line-height: 1;
}
.details {
  float: right;
  line-height: 1.7;
  margin-top: 2%;
  margin-right: -182px;
}
.order-summary {
  float: left;
}
.continue {
  margin-left: 45%;
  background-color: rgb(34,136,205);
  padding: 10px 25px;
  color: #fff;
  font-size: 15px;
  letter-spacing: 1.5px;
  border: none;
}